.modal-content {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 10px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .map {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .floating-popup {
    position: fixed;
    top: 30px;
    right: 50px;
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(254, 196, 83, 0.1);
    border-radius: 5px;
    z-index: 1000;
    max-width: 300px;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .floating-popup p {
    margin: 0;
    font-size: 14px;
  }
  .highlight-link {
    color: #00a389; /* Change this to your desired color */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .highlight-link:hover {
    color: #f0d722; /* Change this to your desired hover color */
    text-decoration: underline;
  }
  
  /* Floating Buttons */
  .floating-buttons {
    position: fixed;
    top: 25px;
    left: 25px;
    display: flex; /* Align in a row */
    flex-direction: column; /* Align in a row */
    gap: 10px;
    z-index: 1000;
  }
  
  .floating-button {
    background-color: #f0d722;
    color: #2d2f6b;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
  }
  
  .floating-button:hover {
    background-color: #ffe100;
    transform: scale(1.1);
  }
  
  .listings {
    position: fixed;
    top: 230px;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: white;
    overflow-y: auto;
    box-shadow: -2px 0 5px #ffffff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }
  
  .listings.open {
    transform: translateX(0);
  }
  
  body {
    color: #404040;
    font:
      400 15px/22px 'Source Sans Pro',
      'Helvetica Neue',
      sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    /* display: flex;
    flex-direction: row; /* Default row layout */
    /* height: 100vh; */
  }
  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  }
  a {
    color: #404040;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  /* Default styles for desktop */
  .sidebar {
    position: fixed;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    border-right: 1px solid #ffffff;
    background: #f8f8f8;
    padding: 20px;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
  }
  
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    margin: 20px 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu ul li a:hover {
    text-decoration: underline;
  }
  
  
  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    line-height: 60px;
    padding: 0 10px;
    background-color: #225495;
    color: #fff;
  }
  
  .listings {
    height: calc(100%-60px);
    overflow: auto;
    padding-bottom: 60px;
  }
  
  .listings .item {
    display: block;
    border-bottom: 1px solid #ffff;
    padding: 10px;
    text-decoration: none;
  }
  
  .listings .item:last-child {
    border-bottom: none;
  }
  
  .listings .item .title {
    display: block;
    color: #225495;
    font-weight: 700;
  }
  
  .listings .item .title small {
    font-weight: 400;
  }
  
  .listings .item.active .title,
  .listings .item .title:hover {
    color: #00a389;
  }
  
  .listings .item.active {
    background-color: #ffffffb7;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #f0d722;
    border-radius: 0;
  }
  
  .marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url('marker.png');
    transition: transform 0.3s;
    background-size: cover; /* Ensure the marker fits perfectly */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth animation */
  }
  
  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
    /*max-width: 300px; /* Adjust maximum popup width */
    /* min-width: 250px; */
  }
  
  .mapboxgl-popup-close-button {
    display: block; /* Restore close button */
    background: #f0d722;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .mapboxgl-popup-content {
    font: 300 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    width: 380px; /* Adjust width as needed */
    max-height: 300px; /* Set a maximum height for the popup */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0;
  }
  
  .mapboxgl-popup-content h3 {
    font-size: 20px; /* Larger header */
    text-align: center;
    background: #ffffff86;
    color: #225495;
    padding: 5px;
    border-radius: 0px 0px 0 0;
    margin: 0;
    font-weight: 500;
    margin-top: 0px;
  }
  .mapboxgl-popup-content h3 a {
    color: #225495; /* Link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the link bold */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .mapboxgl-popup-content h3 a:hover {
    color: #0056b3; /* Change color on hover */
    text-decoration: underline; /* Add underline on hover */
  }
  .mapboxgl-popup-content h4 {
    margin: 0;
    padding: 10px;
    font-weight: 400;
  }
  
  .mapboxgl-popup-content div {
    padding: 10px;
    /*font-size: 14px; /* Ensure consistent sizing */
    /*line-height: 1.5; /* Improve readability */
    /*color: #333; /* Softer text color */
  }
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
    font-size: 12px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #ffffff50;
  }
  .mapboxgl-popup-content ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .mapboxgl-popup-content li {
    margin-bottom: 5px;
  }
